*{
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

body{ 
    background-image: url('../assets/bg-edit.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    min-height: 10dvh;
}

main{
    min-height: 75dvh;
}

.imagenhomesize{
    width: 14rem;
}

.bgGeneral{
    background-image: url('../assets/bg-edit.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


footer{
    min-height: 10dvh;
}

.nav-link {
    width: 20vh;
    height: 12vh;
    text-align: center;
    text-shadow: 
        -1px -1px 0 black,   /* Sombra arriba izquierda */
         1px -1px 0 black,   /* Sombra arriba derecha */
        -1px  1px 0 black,   /* Sombra abajo izquierda */
         1px  1px 0 black;   /* Sombra abajo derecha */
    font-size: 1.5rem;
    color: rgb(238, 229, 229); /* Color del texto */
    padding: 10px 20px;
    text-decoration: none;
    background-size: cover; /* Asegura que la imagen cubra el fondo */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: width 0.3s, height 0.3s, transform 0.3s; /* Da un efecto de curva a los bordes */
}

.nav-link:active {
    color: yellow;
}

.nav-link:hover {
    color: yellow;
    transform: scale(1.1); /* Cambia el color del texto al hacer hover */ /* Efecto de agrandamiento al pasar el cursor */
}

.navbar{
    background-color: rgb(37, 28, 20,.5);
}

.tamaño{
    width: 18rem;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}

.tamaño:hover{
    width: 20rem;
    height: 20rem;
}

.image-character-card{
    height: 15rem;
}

.img-caru-ja {
    
    margin: auto;
    width: 50%; 
    height: 40vh; 
    
}

.navegacion-personalizada {
    text-align: center; /* Centra los enlaces horizontalmente */ /* Agrega espacio arriba */
}

.navegacion-personalizada a {
    width: 30vh;
    height: 20vh;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center;
    color: white; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quita el subrayado */
    margin: 0 10px; /* Espaciado entre los enlaces */
    border-radius: 8px; /* Bordes redondeados */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Bordeado negro al texto */
    transition: all 0.3s ease; 
    margin-bottom: 20px;
}

.a-1-ja{
    background-image: url("../assets/imagenes-de-personajes-de-naruto.jpg");
    background-size: cover;
}

.a-2-ja{
    background-image: url("../assets/clanes.jpg");
    background-size: cover;
    background-position: 50%;
}

.a-3-ja{
    background-image: url("../assets/Chakra-Naruto-diagram-es.svg.png");
    background-size: cover;
}

.p-ja {
    font-size: 1.5rem;
}

.navegacion-personalizada a:hover {
    background-color: gray; /* Cambia el color de fondo al pasar el mouse */
    color: yellow; /* Cambia el color del texto al pasar el mouse */
    transform: scale(1.1); /* Efecto de agrandamiento */
}




.card-characters {
    cursor: pointer;
    background-image: url(../assets/29822958-patrón-de-espiral-de-papel-tapiz-de-material-espiral-remolino.jpg); 
    background-size: cover; 
    color: black; 
    font-weight: bold; 
    border: 2px solid red; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
   
}

.braian-card-body {
    background-image: url(../assets/29822958-patrón-de-espiral-de-papel-tapiz-de-material-espiral-remolino.jpg);
    background-color: rgba(255, 255, 255, 0.7); 
    background-blend-mode: overlay; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px;
}

.braian-card {
    position: relative; 
    width: 100%; 
    max-width: 400px; 
    height: 200px; 
    margin: 20px; 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    border: 2px solid #D95F0E; 
    border-radius: 10px; 
}

.braian-card:hover {
    transform: scale(1.05); /* Aumentar el tamaño al pasar el ratón */
}

.braian-btn-custom {
    background-color: red; 
    color: white; 
}

.braian-modal-content {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/583/778/556/anime-naruto-kakashi-hatake-naruto-uzumaki-wallpaper-preview.jpg');
    background-size: cover; 
    color: black; 
    font-weight: bold; 
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5); 
}

.braian-modal-content p, 
.braian-modal-content h5 {
    color: orange; 
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.braian-title, 
.braian-back-button {
    text-align: center; 
    margin: 20px 0; 
    font-size: 2em; 
    font-weight: bold; 
    color: orange; 
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-decoration: none; 
}

.footer {
    background-color: rgb(37, 28, 20,.5);
    color: white;
    padding: 20px 0;
    text-align: center;
    text-shadow: 
        -1px -1px 0 black,   /* Sombra arriba izquierda */
         1px -1px 0 black,   /* Sombra arriba derecha */
        -1px  1px 0 black,   /* Sombra abajo izquierda */
         1px  1px 0 black;   /* Sombra abajo derecha */
    font-size: 1.5rem;
    color: rgb(238, 229, 229); /* Color del texto */
}

.video-fondo {
    position: relative;
    height: 100%; /* Hace que ocupe toda la pantalla */
    overflow: hidden; /* Asegura que no haya desbordamiento */
}

#videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    opacity: 0.7; /* Opciovl: para dar un efecto de transparencia */
}

.contenido-superpuesto {
    position: relative;
    margin-top: 20px;
    z-index: 1;
    /* color: white; */
    text-align: center;
}

.texto-fondo {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados (opcional) *//* Limita el ancho del artículo (opcional) */
    margin: 20px auto;
}


.table {
    width: 75%;
    height: 80%;
    border: solid;
    text-align: center;
    border-collapse: collapse;
    border: solid black;
}

th,
tr,
td {
    border: solid 2px;
    font-size: 16px;
    padding: 10px;
}

.tablebg {
    background: #a1390b; 
    
}

#pre-loader {
    background: url(../assets/PlRn.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Agrega un fondo semi-transparente */
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

  .naruto-style {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #FF6600; /* Naranja más oscuro para mejor contraste */
    text-shadow: 
      2px 2px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    letter-spacing: 2px;
    padding: 20px;
  }

.listStats{
    list-style: none;
}

.maleCharacters {
    background-color: #FF6600;
    align-items: center center;

}

.shadowCards{
    background-color: rgba(255, 255, 255, 0.226);
  
}

